.change-view{
  display: flex;
  justify-content: center;
  align-items: center;

  &__item{
    border: none;
    color: #D6D8D8;
    background-color: #F5F6F6;
    font-size: 18px;
  }

  &__item:hover{
    color: #60C1E4;
  }
}