.film-card{
  width: 23%;
  color: #242B2D;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 3%;
  cursor: pointer;
  transition: 0.5s;

  &__rating{
    border: 1px solid #0AAEE4;
    border-radius: 5px;
    color: #0AAEE4;
    padding: 0.5% 4%;
    margin-left: 5%;
  }

  &__genres{
    font-family: "Helvetica Neue-Medium";
    color: #47C3F0;
    width: 80%;
    margin-top: 2%;
  }

  &__title{
    text-transform: uppercase;
    font-family: "Helvetica Neue-Bold";
    color: #242B2D;
    font-weight: 600;
    margin-right: 4%;
  }

  &__img{
    width: auto;
    height: inherit;
    flex-grow: 1;
  }

  &__img-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 15em;
  }

  &__description{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6em;

    &__title-box{
      display: flex;
      width: 80%;
      align-items: center;
    }
  }
}

.film-card:hover{
  transition: 0.5s;
  transform: scale(1.05);
}