.film-filters{
  width: 52%;
  display: flex;
  justify-content: space-between;

  &__item{
    color: #0AAEE4;
    font-family: "Helvetica Neue-Bold";
    font-size: 18px;
    border: none;
    background-color: #F5F6F6;
    padding: 0;
  }

  &__item:hover{
    border-bottom: 2px solid #0AAEE4;
    font-weight: 600;
    color: #0AAEE4;
  }
}