.subscribe{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/subscribeBC.png");
  height: 10em;
  font-family: "HelveticaNeue-Light";
  color: white;
  font-size: 35px;
  background-position: center;
  background-attachment: fixed;
  margin-top: 3%;

  &__text{
    width: 50%;
    text-align: center;
    line-height: 1.5;
  }

  &__button{
    background-color: #3BB4E0;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    width: 10%;
    height: 3em;
    transition: 0.5s;
    margin-top: 2%;
  }

  &__button:hover{
    background-color: white;
    border: 1px solid #0AAEE4;
    color: #0AAEE4;
  }
}

.subscribe-backDrop{
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(25%);
}