.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  height: 8em;

  &__first-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }

  &__logo{
    font-family: "Helvetica Neue-Thin";
    color: #0AAEE4;
    font-size: 34px;
    font-weight: 100;
    text-transform: uppercase;
  }

  &__logo-subText{
    font-family: "Helvetica Neue-Thin";
    font-weight: 600;
  }

  &__links{
    width: 12%;
    display: flex;
    justify-content: space-between;
    color: #242B2D;
    font-size: 12px;
    font-family: "Helvetica Neue";
  }

  &__links a:hover{
    border-bottom: 1px solid #0AAEE4;
  }

  &__second-box{
    width: 100%;
    text-align: center;
    color: #242B2D;
    font-size: 12px;
    opacity: 0.6;

    &__movie{
      font-weight: 600;
    }
  }
}