.header{
  background-image: url("../img/header-bc.png");
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5em;
    box-shadow: 0 50px 70px rgba(0, 0, 0, 0.5) inset;

    &__menu-box{
      margin-right: 7%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
    }

    &__search-button{
      color: white;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      font-size: 14px;
      cursor: pointer;
      font-family: "Helvetica Neue";
      transition: 0.5s;
    }

    &__search-button:hover{
      transform: scale(1.3);
      color: #0AAEE4;
    }

    &__signIn{
      background-color: rgba(255, 255, 255, 0);
      color: white;
      border: none;
      cursor: pointer;
      font-size: 18px;
      font-family: "Helvetica Neue";
      transition: 0.5s;
    }

    &__signIn:hover{
      transform: scale(1.3);
    }

    &__signUp:hover{
      background-color: white;
      border: 1px solid #0AAEE4;
      color: #0AAEE4;
    }

    &__signUp, .header__subBottom__actions__showInfo{
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      background-color: #0AAEE4;
      font-family: "Helvetica Neue";
      padding: 3% 12%;
      transition: 0.5s;
    }
  }

  &__logo{
    color: white;
    font-weight: 100;
    font-size: 34px;
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    margin-left: 7%;
  }

  &__logo-subText{
    font-weight: 600;
  }

  &__middle{
    display: flex;
    justify-content: flex-end;
    margin: 11% 0;
    width: 87%;

    &__slider-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      min-height: 10em;
    }

    &__slider-item {
      height: 1.5em;
      padding-left: 0.1%;
      border: none;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
    }

    &__slider-item:hover{
      background-color: #0AAEE4;
    }
  }

  &__bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6em;
    width: 90%;

    &__infoBox{
      color: white;
      font-family: "Helvetica Neue";

      &__h2{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 600;
      }

      &__description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }

  &__subBottom{
    background-color: black;
    min-height: 2em;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;

    &__starsBox{
      color: #0AAEE4;
      width: 45%;
      display: flex;
      justify-content: space-between;
    }

    &__rate-box{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width: 25%;
    }

    &__rate{
      border: 1px solid #0AAEE4;
      border-radius: 5px;
      color: white;
      padding: 0.5% 4%;
      margin-left: 5%;
    }

    &__actions{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;

      &__showInfo{
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid white;
        border-radius: 5px;
        padding: 2% 5%;
        color: white;
        font-family: "Helvetica Neue";
        transition: 0.5s;
      }

      &__showInfo:hover{
        background-color: white;
        color: black;
      }

      &__watchNow{
        background-color: #0AAEE4;
        border: 0;
        border-radius: 5px;
        color: white;
        padding: 2% 5%;
        font-family: "Helvetica Neue";
        transition: 0.5s;
      }

      &__watchNow:hover{
        background-color: white;
        border: 1px solid #0AAEE4;
        color: #0AAEE4;
      }

      &__favourites{
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        color: white;
        transition: 0.5s;
      }

      &__favourites:hover{
        transform: scale(1.3);
      }

      &__more{
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        color: white;
        transition: 0.5s;
      }

      &__more:hover{
        color: #0AAEE4;
      }
    }
  }
}