.main-section{
  width: 87%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #F5F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__control-panel{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #E0E1E2 1px solid;
    min-height: 3em;
  }

  &__load-more{
    background-color: #0AAEE4;
    border: 0;
    border-radius: 5px;
    width: 10%;
    height: 3em;
    color: white;
    font-family: HelveticaNeue-Light;
    font-size: 15px;
    margin-top: 3%;
    transition: 0.5s;
  }

  &__load-more:hover{
    background-color: white;
    border: 1px solid #0AAEE4;
    color: #0AAEE4;
  }
}


#fountainG{
  display: none;
  position:relative;
  width:7%;
  height:2em;
  margin: 40px auto 10px auto;
}

.fountainG{
  position:absolute;
  top:0;
  background-color: #0AAEE4;
  width:28px;
  height:28px;
  animation-name:bounce_fountainG;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  transform:scale(.3);
  border-radius:19px;
}

#fountainG_1{
  left:0;
  animation-delay:0.446s;
}

#fountainG_2{
  left:29px;
  animation-delay:0.5525s;
}

#fountainG_3{
  left:58px;
  animation-delay:0.659s;
}

#fountainG_4{
  left:88px;
  animation-delay:0.7755s;
}

#fountainG_5{
  left:117px;
  animation-delay:0.882s;
}

#fountainG_6{
  left:146px;
  animation-delay:0.9985s;
}

#fountainG_7{
  left:175px;
  animation-delay:1.105s;
}

#fountainG_8{
  left:205px;
  animation-delay:1.2115s;
}



@keyframes bounce_fountainG{
  0%{
    transform:scale(1);
    background-color: #0AAEE4;
  }

  100%{
    transform:scale(.3);
    background-color: #095168;
  }
}