@import "reset";
@import "sections/header";
@import "sections/app";
@import "fonts/fonts";
@import "sections/mainSection";
@import "components/filmFilters";
@import "components/changeView";
@import "components/filmCard";
@import "components/filmList";
@import "components/subscribe";
@import "sections/footer";
@import "components/social";


a{
  text-decoration: none;
}

button{
  cursor: pointer;
}